# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Airflow logs (большие файлы)
airflow/logs/

# Data files (генерируются автоматически)
data/raw/
data/processed/

# Environment
.env
*.env
!airflow.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker volumes
postgres-data/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

